@media screen and (max-width: 992px) {
	.container {
		width: 730px;
	}


	.sidebar,
	.stuff {
		width: 100%;
		float: none;
		margin-left: 0;
	}


	.sidebar {
		margin-bottom: 35px;
	}


	.nav__item {
		display: inline-block;
		vertical-align: middle;
		margin-right: 25px;
	}
	

	.nav__link {
		border: none;
		text-align: left;
		padding-right: 0;
	}


	.about__left {
		width: 30%;
	}


	.about__right {
		width: 70%;
	}


	.about__pic {
		width: 165px;
		height: 165px;
	}
}